_pydp.so
# bazel files
bazel-bin
bazel-out
bazel-PyDP
bazel-testlogs
bazel-genfiles
bazel-cache
# don't commit any changes to git-submodules
third_party/
# we don't want everyone to have our vscode configurations
.vscode/


# MacOS directory file
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
Pipfile.lock
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.coveragepy
.coveragepy.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
docs/_build/*
docs/_generate/*
*.gcov
coverage_report/*
!coverage_report/index.html

.python-version
