[submodule "diffrential-privacy"]
	path = diffrential-privacy
	url = https://github.com/google/differential-privacy.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "Pybind11"]
	path = Pybind11
	url = https://github.com/pybind/pybind11.git
