repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-ast
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: debug-statements
      - id: name-tests-test
      - id: requirements-txt-fixer
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/psf/black
    rev: 21.5b1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
        args: [
            "--ignore-missing-imports",
            "--scripts-are-modules",
            "--disallow-incomplete-defs",
            "--no-implicit-optional",
            "--warn-unused-ignores",
            "--warn-redundant-casts",
            "--strict-equality",
            "--warn-unreachable",
            # "--disallow-untyped-decorators",
            "--disallow-untyped-defs",
            "--disallow-untyped-calls",
          ]

  - repo: local
    hooks:
      - id: flynt
        name: flynt
        entry: flynt
        args: [--fail-on-change]
        types: [python]
        language: python
        additional_dependencies:
          - flynt
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)
