[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
bumpversion = "==0.5.3"
pytest = "*"
black = "*"
twine = "*"
clang-format = "*"

[packages]
