[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
bumpversion = "==0.5.3"
pytest = "*"
black = {version = "19.10b0", makers = "python_version >= 3.6"}
twine = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
gcovr = "*"
coverage = "*"

[packages]
