name: Tests

on:
  push:
    branches:
    - windows-build
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  pytest:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      # max-parallel: 6
      matrix:
        os: [ubuntu-20.04, macOS-10.15, windows-2019]
        python-version:  [3.6, 3.7, 3.8] # 3.5 fails as pipenv installs black as a dev dep for which 3.5 is not supported

    # Timeout: https://stackoverflow.com/a/59076067/4521646
    timeout-minutes: 35

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set environment variables
      uses: allenevans/set-env@v1.0.0
      with:
        PIPENV_DEFAULT_PYTHON_VERSION: ${{ matrix.python-version }}
    - name: Setup Bazel
      uses: abhinavsingh/setup-bazel@v3
    - name: Build PyDP with coverage
    # removed c++ coverage for now 
      run: |
        bazel build --config ${{runner.os}} src/python:bindings_test --verbose_failures    
    - name: Copy binary to python package(windows)  
      if: runner.os == 'Windows'
      run: |
        copy bazel-bin\src\bindings\_pydp.so pydp\_pydp.pyd
    - name: Copy binary to python package   
      if: runner.os != 'Windows'
      run: |
        cp -f ./bazel-bin/src/bindings/_pydp.so ./pydp  
          
    - name: Setup and Build PyDP
      run: |
        python -m pip install pipenv
        pipenv install setuptools wheel pytest gcovr coverage twine
        pipenv run python setup.py bdist_wheel
        pipenv run twine check dist/*
    - name: Install PyDP
      if: runner.os != 'Windows'
      run: |
        pipenv run python -m pip install --force-reinstall dist/*.whl
    - name: Install PyDP (windows)
      if: runner.os == 'Windows'
      run: |
         $wheel_path=ls .\dist
         pipenv run python -m pip install --force-reinstall ${{wheel_path}}
    - name: Run tests
      run: |
        pipenv run coverage run -m pytest tests
    - name: Check Python code coverage
      if: runner.os == 'Linux' # Coverage will be the same on all systems so only running the check on Linux
      run: |
        make check-coverage-python
      env:
        MIN_COVERAGE: 80
    # Need to see how to run the c++ code coverage
    # - name: Check C++ code coverage
    #   if: runner.os == 'Linux' # Coverage will be the same on all systems so only running the check on Linux
    #   run: |
    #     make check-coverage-cpp
